@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$ripple_duration: 600;
$good_answer_color: rgba(18, 236, 84, 0.7);
$bad_answer_color: rgba(236, 62, 18, 0.7);

:export {
  rippleDuration: $ripple_duration;
}

:global(pre.prettyprint) {
  border: none !important;
  code {
    white-space: pre-wrap;
    display: inline-block;
  }
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple $ripple_duration+ms linear;

  &-good {
    background-color: $good_answer_color;
  }

  &-bad {
    background-color: $bad_answer_color;
  }
}

span.answer {
  /* for debug only */
  font-weight: bold;
}

div.statement {
  margin-bottom: 0.5em;
  white-space: normal;
}

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0;
  }
}