@import "./styles/mixins.scss";
@import "./styles/variables.scss";

$text-shadow: 0.06rem 0 0.06rem #000, -0.125rem 0 0.06rem #69c5fa;
$text-shadow-anim-from: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
$text-shadow-anim-to: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;

h1 {
  font-style: italic;
  color: #ffd900;
}

.App {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 1.8vw;
}

.start-countdown {
  font-family: "Nintendoid1";
  text-shadow: $text-shadow;
  margin: 0;
  position: relative;
  width: 100%;
  height: 4em;
}

.countdown-display {
  position: absolute;
  top: 10px;
  right: 10px;
}

.leaderboard {
  animation: fadein 2s;
  text-align: center;
}

.leaderboard-table {
  font-family: "Nintendoid1";
  text-shadow:$text-shadow;
  font-size: 0.8em;

   & th {
     padding: 1.2vw;
   }
}

.start-text {
  font-family: "Nintendoid1";
  padding: 1.2vw;
  font-size: 0.5em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.results {
  text-align: center;
}

@keyframes fadein {
  from {
      opacity:0;
      transform: translateY(1em);
  }
  to {
      opacity:1;
  }
}

@keyframes textflicker {
  from {
    text-shadow: $text-shadow-anim-from;
  }
  to {
    text-shadow: $text-shadow-anim-to;
  }
}
