@import "./styles/mixins.scss";
@import "./styles/variables.scss";
@import "./styles/firework.scss";

$text-shadow: 0.06rem 0 0.06rem #000, -0.125rem 0 0.06rem #fa7a69;
$text-shadow-anim-from: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
$text-shadow-anim-to: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;

h1 {
  text-shadow: $text-shadow;
  font-size: 1.6em;
  color: #ffd900;
  margin-bottom: 1.2vw;
}

.App {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 1.8vw;
}

.start-countdown {
  font-family: "Nintendoid1";
  text-shadow: $text-shadow;
  margin: 0;
  position: relative;
  width: 100%;
  height: 4em;
}

.countdown-display {
  position: absolute;
  top: 10px;
  right: 10px;
}

.leaderboard {
  animation: fadein 2s;
  text-align: center;

  &-table {
    font-family: "Nintendoid1";
    text-shadow: $text-shadow;
    font-size: 0.8em;
    display: flex;
    justify-content: center;

    & th {
      padding: 1.2vw;
    }
  }
}

.start-text {
  font-family: "Nintendoid1";
  padding: 1.2vw;
  font-size: 0.5em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.results {
  text-align: center;
  text-shadow: $text-shadow;

  p {
    font-family: "Nintendoid1";
    font-size: 0.5em;
    margin-top: 10px;
  }
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (
      1s bang ease-out infinite backwards,
      1s gravity ease-in infinite backwards,
      5s position linear infinite backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
  }
}

@keyframes textflicker {
  from {
    text-shadow: $text-shadow-anim-from;
  }
  to {
    text-shadow: $text-shadow-anim-to;
  }
}
