$max-number: 3;
$anim: $max-number * 2s;
$last-value-color: #FF1643;
$number-color: #fff;

:export {
  maxNumber: $max-number;
  animDuration: $anim;
}

.number {
  color: $number-color;
  font-size: 3em;

  span {
    position: absolute;
    width: 100%;
    height: 4em;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    opacity: 0;
  }
}

@keyframes countdown {
  0%, 20%, 100% {
    opacity: 0;
    transform: scale(1);
  }

  5% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.num0 {
  color: $last-value-color;
}

@for $i from 0 through $max-number {
  .num#{$i} {
    animation: countdown $anim normal;
    animation-delay: ($anim - ($i*2));
  }
}